
.photo {
  border-radius: 50%;
  position: relative;
  height: 200px;
}

.shell {
  background-color: lightgrey;
  height: 500px;
  width: 300px;
  align-self: center;
  border: 4px solid;
  border-color: #F6E8B1;
  font-family:serif;
}
.body {
  background-color: lightgrey
  border: 1px;
}

.foot {
background-color: lightgrey;}
